NEXT_PUBLIC_SUPABASE_URL=https://https://uekyqzgczgsbaaerdfkb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVla3lxemdjemdzYmFhZXJkZmtiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5NjgxNDgsImV4cCI6MjA5MDU0NDE0OH0.AWvet2KWKZ9TB-CwHl2a5I6s0XdI_XhtiV4UxwApyn4
SUPABASE_SERVICE_ROLE_KEY=some-key
